.main__container {
    padding: 4rem 0;
    background-color: var(--color-sky);
    /* align-items÷\: center; */
}

.pricingContent {
    display: grid;
    justify-content: center;
    grid-auto-rows: 400px;
    gap: 2rem;
}

.pricingContent > * {
    border: 1px solid;
    text-align: center;
}

.price {
    padding: 3rem 1.5rem;
    border-radius: 5px;
}