.main__container {
    padding: 8rem 0 4rem;
    background-color: var(--color-sky);
    /* align-items÷\: center; */
}

.pricingContent {
    display: grid;
    gap: 3rem;
    justify-content: center;
}

.pricingContent > * {
    /* border: 1px solid; */
    text-align: center;
}

.price {
    max-width: 400px;
    padding: 3rem 1.5rem;
    gap: 1rem;
    border-radius: 5px;
    display: grid;
    align-items: flex-start;
    background-color: var(--color-sky-dark);
    transition: all .25s ease;
}

.price:hover {
    box-shadow: 0px 3px 4px 3px rgba(0,0,0,0.2);
}

.price:first-of-type {
    background-color: var(--color-purple);
    transform: scaleY(1.2);
    margin-bottom: 2rem;
    /* height: 500px; */
}

.price:first-of-type .priceNum {
    transform: scaleY(.8);
}

.priceNum {
    justify-self: center;
    align-self: flex-end;
    border: 1px solid;
    width: 70px;
    height: 70px;
    font-size: 1.25rem;
    font-weight: 700;
    display: grid;
    place-content: center;
    border-radius: 50%;
    color: var(--color-sky-dark);
}

.pricePlan {
    align-self: center;
    background-color: var(--color-sky-dark);
    padding: 10px;
    border-radius: 4px;
    font-size: 1.5rem;
    color: var(--color-sky);
    letter-spacing: 1px;
}



.priceNum:first-of-type {
    color: var(--color-sky);
}

.pricePlan:first-of-type {
    background-color: var(--color-sky);
    color: var(--color-purple);
}

.price:nth-of-type(2) .pricePlan {
    color: var(--color-sky);
    background-color: var(--color-purple-med);
}

.price:nth-of-type(2) button {
    background-color: var(--color-sky);
    color: var(--color-purple);
}

.priceDetail {
    font-size: 1.05rem;
    letter-spacing: .5px;
    line-height: 1.2;
    margin: 4px;
}

.price:first-of-type .priceDetail {
    color: var(--color-sky);
}

.price button {
    display: inline-block;
    cursor: pointer;
    padding: 14px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 4px;
    border: none;
    background-color: var(--color-purple-med);
    color: var(--color-sky);
    font-weight: 700;
}

@media screen and (min-width: 980px) {
    .pricingContent {
        grid-template-columns: 1fr 1fr 1fr;
    }

    

    .price:nth-of-type(2) {
        order: 1;
    }

    .price:nth-of-type(1) {
        order: 2;
    }

    .price:nth-of-type(3) {
        order: 3;
    }
}

@media screen and (min-width: 1180px) {
    .price {
        padding: 3rem;
    }
}